.speech {
    font-style: italic;
    font-size: 20px;
color: #000000;
}

.direction {
    font-style: italic;
    font-size: 15px;
    color: #000000;
    background-color: #eedd82;
}

.direction:hover {
    background-color:blue;
    font-size: 15px;
    color:cadetblue;
}
.LANE {
    background-color:brown;
    font-style: serif;
}
.BAUER {
    background-color:red;
    font-style:Sans Serif;
}




}



